<%= form_for(current_user) do |u| %>
  <% if current_user.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <%= u.label :name, "氏名" %>
  <%= u.text_field :name, class: 'form-control' %>
  <%= u.label :email, "アドレス"%>
  <%= u.text_field :email, class: 'form-control' %>
  <%= u.label :address, "地域"%>
  <%= u.text_field :address, class: 'form-control' %>
  <%= u.label :profile, "プロフィール"%>
  <%= u.text_field :profile, class: 'form-control' %>
   
  <%= u.submit  "更新" ,class: "btn btn-sm btn-primary"  %>

<% end %>