<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user == micropost.user %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% elsif current_user != micropost.user %>
      <%= link_to "retweet", :controller => "microposts", :action => "retweet", :id => micropost.id %> 
      <%# if current_user == micropost.favorite_users.find_by(1) %>
      <% if current_user == micropost.favorite_users.pluck(:favoriter_id).include?(current_user.id) %>
      <%# if RelationshipOkini.find_by(favorite_id: micropost.id, favoriter_id: current_user.id) %>
        favorited 
      <% else %>
        <%# link_to "favorite", :controller => "microposts", :action => "favorite", :micropost_id => micropost.id %>
        <%= link_to "favorite", favorite_microposts_path(micropost_id: micropost.id), method: :post %>
      <% end %>  
    <% else %>  
    <% end %>
    <% # ここの取り方が微妙?? 　一意になるものだからfind_by(1)で良い？　 %>
    <% if micropost.retweet_microposts.find_by(1) != nil %>
      Retweeted <%= micropost.retweet_microposts.count %>
    <% end %>
  </span>
</li>