<%= form_for(@micropost_retweet, url: micropost_retweeted_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, value:  "  '" + @micropost.content + "'"%>
    <%= f.hidden_field :retweeted_id, value: @micropost.id %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
